.cabecera {
    color: #f0f8ff;
    background: #1c2412;
    left: 0;
    top: 0;
    width: 200vh;
    height: 10vh;
    position: fixed;
    white-space: nowrap;
    float: right;
    border: 1px solid #ccc;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    z-index: 1;
}

.cabecera .contenedor {
    position: fixed;
    top: 60%;
    bottom: 40%;
    width: 100%;
}

.cabecera .logo {
    height: 4em;
    width: auto;
    float: left;
}

.cabecera form {
    position: fixed;
    top: 3.1vh;
    right: 10vh;
}

.cabecera form img {
    position: fixed;
    width: 26px;
    height: 26px;
    top: 3vh;
    left: 36svh;
    z-index: 1;
}

.cabecera form .buscador {
    position: fixed;
    left: 34vh;
    top: 2vh;
    width: 60vh;
    height: 5vh;
    text-indent: 42px;
    border-radius: 12px;
    border: 1 solid #ccc;
    margin-right: 4vh;
}

.cabecera .usuario img {
    position: fixed;
    right: 4vh;
    top: 1.3vh;
    width: 50px;
    height: 50px;
}

.cabecera .carrito img {
    position: fixed;
    right: 15vh;
    top: 1.3vh;
    width: 50px;
    height: 50px;
}

.invert {
    filter: invert(100%);
}

.cabecera form {
    position: fixed;
    left: 400px;
}

.lenguaje {
    position: fixed;
    right: 56vh;
}

.lenguajelabel {
    position: fixed;
    right: 74vh;
    color: #ccc;
}

.moneda {
    position: fixed;
    right: 28vh;
}

.monedalabel {
    position: fixed;
    right: 44vh;
}