.cabecera {
    color: #f0f8ff;
    left: 0;
    top: 0;
    width: 200vh;
    height: 10vh;
    position: sticky;
    white-space: nowrap;
    float: right;
    border: 1px solid #ccc;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
}

.cabecera .contenedor {
    position: sticky;
    top: 60%;
    bottom: 40%;
    width: 100%;
}

.cabecera .logo {
    height: 4em;
    width: auto;
    float: left;
    cursor: pointer;
}

.cabecera form {
    position: sticky;
    top: 2.2vh;
}

.cabecera form img {
    position: sticky;
    width: 26px;
    height: 26px;
    top: 3.2vh;
    left: 36.5vh;
    z-index: 1;
}

.cabecera form .buscador {
    width: 60vh;
    height: 5vh;
    text-indent: 42px;
    border-radius: 12px;
    border: 1 solid #ccc;
    z-index: 0;
    margin-right: 4vh;
}

.cabecera .usuario img {
    position: relative;
    left: 145vh;
    bottom: 6vh;
    width: 50px;
    height: 50px;
}

.cabecera .carrito img {
    position: fixed;
    left: 162vh;
    bottom: 91vh;
    width: 50px;
    height: 50px;
}

.invert {
    filter: invert(100%);
}

.cabecera form {
    position: sticky;
    left: 400px;
}

.cabecera form select {
    margin-right: 3vh;
}