.carrito {
    position: absolute;
    left: 2vh;
    top: 22vh;
    background: #272626;
    width: 45%;
    border: 1px solid #bbb;
    border-radius: 24px;
}

.carrito h2 {
    text-indent: 1em;
}

.producto {
    height: 120px;
}

.carrito .producto img {
    position: relative;
    height: 100px;
    width: 140px;
    left: 6vh;
    border: 2px solid #333;
    border-radius: 16px 0 0 16px;
}

.carrito .producto h4 {
    position: relative;
    top: -6px;
    left: 16px;
}

.carrito .producto form {
    position: relative;
    bottom: 6px;
    left: 16px;
}

.carrito .producto form input {
    width: 7vh;
    margin-left: 6px;
}

.carrito .producto .precio {
    position: relative;
    bottom: 88px;
    left: 280px;
}

.carrito .producto a {
    position: relative;
    bottom: 88px;
    left: 245px;
    border: none;
    border-radius: 0px;
    width: 30px;
    height: 30px;
    filter: invert(1) sepia(20) saturate(100000%) hue-rotate(-65deg);
}

.carrito .producto .papelera {
    border: none;
    border-radius: 0px;
    width: 30px;
    height: 30px;
}

.informacion {
    position: relative;
    bottom: 109px;
    left: 180px;
    height: 100px;
    width: 340px;
    border: 2px solid #333;
    border-radius: 0 16px 16px 0;
}

.checkout {
    position: absolute;
    right: 2vh;
    top: 22vh;
    background: #272626;
    width: 45%;
    border-radius: 24px;
    border: 1px solid #bbb;
}

.information {
    border: 1px solid #666;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    height: 60px;
}

.information h3 {
    position: relative;
    top: 12px;
    text-indent: 30px;
}

.information h4 {
    position: relative;
    bottom: 32px;
    left: 404px;
}

.total {
    border: 1px solid #666;
    border-right: 0;
    border-left: 0;
    height: 60px;
}

.total p {
    position: relative;
    top: 1px;
    text-indent: 16px;
}

.total h4 {
    position: relative;
    bottom: 42px;
    left: 400px;
}

.payment {
    border: 1px solid #666;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    height: 60px;
}

.payment input {
    position: relative;
    top: 1.5vh;
    left: 16vh;
    width: 60%;
    height: 40px;
    border-radius: 40px;
    background: #5ab831;
    border: #000 solid 1px;
    box-shadow: 0px 0px 20px 0px #347419;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}

.categoria {
    margin-bottom: 40px;
}

.categoria h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.producto {
    width: 22%;
    margin-right: 2%;
    margin-bottom: 1vh;
}

.producto:nth-child(4n) {
    margin-right: 0;
}

.contenedor {
    width: 100%;
    height: 50%;
    position: relative;
    box-shadow: 0px 0px 14px #000;
    border-radius: 10px;
}

.contenedor h4 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    text-decoration: underline;
}

.contenedor .texto {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    position: relative;
    left: 6%;
    width: 90%;
}

.contenedor .comida {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 2px #ccc;
}

.contenedor a {
    background: orange;
    color: #000;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8em;
    padding: 10px 20px;
    position: relative;
    width: 10%;
    bottom: 32px;
    left: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #ffb520;
}

.contenedor .preciocontenedor {
    position: relative;
    top: 2px;
    background: #333;
    color: #fff;
    width: 40%;
    height: 9%;
    left: 24px;
    border-radius: 4px;
    text-align: center;
}

.contenedor .preciocontenedor .precio {
    position: relative;
    top: 22%;
}

.contenedor .carrito {
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 4px;
}

form input {
    border-radius: 6px;
}