.marquesina {
    background: #000;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}

.marquesina .contenedor, .marquesina .contenedor2 {
    display: inline-block;
    white-space: nowrap;
}

.marquesina .contenedor2 {
    position: absolute;
    top: 0;
    left: 150%;
}

.marquesina .contenedor, .marquesina .contenedor2 {
    animation: mover 20s linear infinite;
}

.texto {
    display: inline-block;
    margin-right: 160px;
    cursor:default;
}

@keyframes mover {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

