.pie {
    position:static;
    left: 0px;
    margin-top: 10vh;
    width: 100%;
    border-top: 1px solid #ccc;
    background: #161c0f;
    height: 40vh;
}

.pie .datos {
    float: left;
}

.pie .categorias .vinos, .pie .categorias .ensaladas {
    float: right;
    margin-right: 20vh;
    margin-top: 6vh;
}

.pie .datos img {
    margin-top: 6vh;
    margin-left: 4vh;
    width: 140px;
    height: 50px;
}

.pie .datos a img {
    position: relative;
    width: 40px;
    height: 40px;
    bottom: 5vh;
}

.pie .datos p {
    margin-left: 4vh;
}

.pie h3 {
    color: #fff;
}

.pie a {
    color: #ddd;
    text-decoration: none;
}