body {
    background: #1c2412;
    color:#000;
}

.contenedor {
    background: #272626;
    position: absolute;
    top: 15%;
    bottom: 9%;
    left: 25%;
    right: 25%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px #000;
}

.contenedor .titulo {
    background: linear-gradient(45deg, #4657cf, #c350c0);
    color: #fff;
    position: absolute;
    font-size: 1.2rem;
    font-weight: bolder;
    width: 100%;
    top: 0;
    border-radius: 16px 16px 0px 0px;
    cursor: default;
}

.contenedor .texto, .contenedor .textogrande {
    width: 40%;
    height: 46px;
    margin-top: 0px;
    margin-bottom: 14px;
    border-radius: 40px;
    background-color: #444;
    color: #fff;
    border: #666 solid 1px;
    font-size: 1.2rem;
    text-indent: 14px;
}

.contenedor .left {
    margin-right: 10px;
}

.contenedor hr {
    position: absolute;
    bottom: 45.5vh;
    left: 37.1vh;
    transform: rotate(90deg);
    width: 120px;
    color: #eee;
    box-shadow: 0 0 10px #fff;
}

.contenedor .right {
    margin-left: 10px;
}

.contenedor .textogrande {
    width: 85%;
    margin-bottom: 6px;
}

.contenedor label {
    color: #eee;
    position: relative;
    top: 3px;
    right: 6px;
}

.contenedor .labelbirthday {
    position: relative;
    right: 56px;
}

.contenedor .labelnumber {
    position: relative;
    left: 50px;
}

.contenedor .fecha {
    position: relative;
    height: 22px;
    right: 44px;
    top: 5px;
    color: #ccc;
    background: #555;
    border: #666;
    border-radius: 6px;
}

.contenedor .numero {
    position: relative;
    height: 22px;
    left: 71px;
    top: 5px;
    margin-bottom: 8px;
    color: #ccc;
    background: #555;
    border: #666;
    border-radius: 6px;
}

.contenedor .casilla {
    cursor: pointer;
    position: relative;
    top: 4px;
    right: 4px;
    width: 18px;
    height: 18px;
}

.contenedor .boton {
    margin-top: 10px;
    width: 80%;
    height: 50px;
    border-radius: 40px;
    background: #5ab831;
    border: #000 solid 1px;
    box-shadow: 0px 0px 20px 0px #347419;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}

.contenedor a {
    position: relative;
    top: 3px;
    right: 0px;
    color: #5fbcff;
    font-weight: bold;
    font-size: 0.9rem;
}