.cuerpo {
    position: relative;
    left: 0;
    width: 100%;
    margin-top: 80px;
}

.cuerpo .categorias {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #457656;
    text-align: center;
    cursor: pointer;
    height: 16vh;
}

.cuerpo .categorias table tr {
    height: 2vh;
}

.cuerpo .categorias table tr td {
    width: 17vh;
}

.cuerpo .categorias table tr td img {
    position: relative;
    top: 8px;
    width: 40px;
    height: 40px;
}

.cuerpo .categorias table tr td p {
    position: relative;
    bottom: 12px;
}

.cuerpo .categorias table tr td a {
    color: #ddd;
    text-decoration: none;
}

.newsletter img {
    width: 40px;
    height: 40px;
}