body {
    background: #1c2412;
    color: aliceblue;
}

.cabecera {
    left:0;
    top:0;
    width: 100%;
    position:absolute;
    white-space: nowrap;
    margin-right: 40px;
    float: right;
}

.cabecera .contenedor {
    position: absolute;
    top: 60%;
    bottom: 40%;
    width: 100%;
}

.cabecera .logo {
    height: 4em;
    width: auto;
    float: left;
    cursor: pointer;
}

.cabecera form img {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 19px;
    left: 42vh;
    z-index: 1;
}

.cabecera form .buscador {
    position: absolute;
    width: 80vh;
    height: 5vh;
    top: 2vh;
    left: 40vh;
    text-indent: 42px;
    border-radius: 12px;
    border: 1 solid #ccc;
    z-index: 0;
}

.cabecera .usuario img {
    position: absolute;
    left: 176vh;
    top: 7px;
    width: 50px;
    height: 50px;
}

.invert {
    filter: invert(100%);
}

.marquesina {
    left:0;
    top:64px;
    background: #000;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}

.marquesina .contenedor, .marquesina .contenedor2 {
    display: inline-block;
    white-space: nowrap;
}

.marquesina .contenedor2 {
    position: absolute;
    top: 0;
    left: 150%;
}

.marquesina .contenedor, .marquesina .contenedor2 {
    animation: mover 20s linear infinite;
}

.texto {
    display: inline-block;
    margin-right: 160px;
    cursor:default;
}

@keyframes mover {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.cuerpo {
    position: fixed;
    left: 0;
    width: 100%;
    margin-top: 80px;
}

.cuerpo .categorias {
    background: #457656;
    text-align: center;
    cursor: pointer;
    height: 18vh;
}

.cuerpo .categorias table tr {
    height: 2vh;
}

.cuerpo .categorias table tr td {
    width: 17vh;
}

.cuerpo .categorias table tr td img {
    position: relative;
    top: 8px;
    width: 40px;
    height: 40px;
}

.cuerpo .categorias table tr td p {
    position: relative;
    bottom: 12px;
}