.contenedor {
    width: 18%;
    height: 50%;
    position: fixed;
    left: 40%;
    top: 25%;
    box-shadow: 0px 0px 14px #000;
    border-radius: 10px;
}

.contenedor h4 {
    text-align:  center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    text-decoration: underline;
}

.contenedor br {
    position: relative;
    width: 80%;
    color:#000;
}

.contenedor .texto {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    position:relative;
    left: 6%;
    width: 90%;
}

.contenedor .comida {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 2px #ccc;
}

.contenedor a {
    background: orange;
    color:#000;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8em;
    padding: 10px 20px;
    position: relative;
    width: 10%;
    bottom: 32px;
    left: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #ffb520;
}

.contenedor .preciocontenedor {
    position: relative;
    top: 2px;
    background: #333;
    color: #fff;
    width: 40%;
    height: 9%;
    left: 24px;
    border-radius: 4px;
    text-align: center;
}

.contenedor .preciocontenedor .precio {
    position: relative;
    top: 22%;
}

.contenedor .carrito {
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 4px;
}