.tarjeta {
    width: 36vh;
    height: 50vh;
    box-shadow: 0px 0px 14px #000;
    border-radius: 10px;
    display: inline-block;
    margin-right: 6vh;
    background: #222;
}

.tarjeta h4 {
    position: relative;
    bottom: 2vh;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    text-decoration: underline;
}

.tarjeta .texto {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    width: 90%;
    position: relative;
    left: 2vh;
    bottom: 6vh;
}

.tarjeta .comida {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 2px #ccc;
}

.tarjeta a {
    background: orange;
    color:#000;
    position: relative;
    left: 18vh;
    bottom: 11vh;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8em;
    padding: 10px 2vh;
    width: 4vh;
    height: 2vh;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #ffb520;
}

.tarjeta .precio {
    background: #333;
    color: #fff;
    position: relative;
    width: 14vh;
    height: 5.1vh;
    border-radius: 4px;
    left: 2.3vh;
    bottom: 5.8vh;
    text-align: center;
    border: 1px solid #bbb;
    box-shadow: 0 0 4px #000;
}

.tarjeta .precio p {
    position: relative;
    bottom: 11px;
}

.tarjeta .carrito {
    position: relative;
    top: 5px;
    right: 4px;
    width: 20px;
    height: 20px;
}